In [1]:
import numpy as np
import pandas as pd

Creating series:

In [4]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"a":10,"b":20,"c":30}

In [5]:
print(labels)
print(my_data)
print(arr)
print(d)

['a', 'b', 'c']
[10, 20, 30]
[10 20 30]
{'a': 10, 'b': 20, 'c': 30}

In [7]:
print(pd.Series(data=my_data,index=labels))
print(pd.Series(arr,labels))
print(pd.Series(d))

a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64

In [10]:
ser1 = pd.Series([1,2,3,4],["USA","Germany","USSR","Japan"])
ser2 = pd.Series([1,2,5,4],["USA","Germany","Italy","Japan"])

In [11]:
print(ser1)
print(ser2)

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64
USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [12]:
print(ser1+ser2)

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64