In [1]:
num = 12
name = "Sam"

In [3]:
print("The number is {} and the name is {}.".format(num, name))

The number is 12 and the name is Sam.

In [6]:
print("The number is {one}, {one} is the number, and the name is {two}, {two} is the name.".format(two=name, one=num))

The number is 12, 12 is the number, and the name is Sam, Sam is the name.

In [7]:
s = "abcdefghijklmnopqrstuvwxyz"

In [22]:
print(s[:13])
print(s[13:])
print(s[11:15])

abcdefghijklm
nopqrstuvwxyz
lmno

'abcdefghijklm'

Dictionaries:

In [26]:
d = {"key1":"value1", "key2":123}

In [27]:
print(d)

{'key1': 'value1', 'key2': 123}

In [34]:
print(d["key1"])
print(d["key2"])

value1
123

For loop:

In [36]:
x = [1,2,3,4]
out = []

for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [38]:
out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

Functions:

In [46]:
def my_func(param1="This is a default."):
    print(param1)

In [47]:
my_func("Hello!")
my_func()

Hello!
This is a default.

In [1]:
def square(num):
    """
    This function squares the given parameter.
    """
    return num**2

In [49]:
square(3)

9

Map and Lambda:

In [6]:
seq = [i for i in range(1,6)]

In [8]:
list(map(square, seq))

[1, 4, 9, 16, 25]

In [10]:
list(map(lambda num: num**2, seq))

[1, 4, 9, 16, 25]

In [12]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

Tuple unpacking:

In [13]:
x = [(1,2), (3,4), (5,6)]

In [15]:
for a, b in x:
    print(a)

1
3
5